#login_notes_settings {
	.note {
		.datetime {
			color: var(--color-text-lighter);
			font-size: 0.8em;
		}
		margin-bottom: 10px;
		padding-left: 1rem;
		box-shadow: inset 4px 0 var(--color-primary);

		.markdown-body {
			text-align: start;
			&.centered {
				text-align: center
			}
		}
	}

	form {
		textarea {
			width: 600px;
			height: 100px;
		}
	}

	form.alignment {
		margin-bottom: 1rem;
	}

	.empty-content {
		margin-top: 1rem;
		max-width: min(40rem, 100%);
	}
}

.modal__content {
	padding: 1rem;
	textarea {
		width: 100%;
		min-height: 5rem;
	}
}

// fade transition
.fade {
	&-enter {
		opacity: 0;
	}
	&-enter-to {
		opacity: 1;
	}
	&-leave {
		opacity: 1;
	}
	&-leave-to {
		opacity: 0;
	}
	&-enter-active,
	&-leave-active {
		transition: all 150ms ease-in-out;
	}
}
